

/* Center the card horizontally */
.card {
    margin: 0 auto;
}

/* Add spacing to the top and bottom of the card */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add padding to the card body */
.card-body {
    padding: 20px;
}

/* Style the card title */
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Style the form labels */
.form-group label {
    font-weight: bold;
    color: #333;
}

/* Add spacing between form fields */
.form-group {
    margin-bottom: 15px;
}

/* Style the form inputs */
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Style the submit button */
.btn-primary {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

/* Change the select dropdown arrow color */
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25 0L0 2h8L5.75 0H2.25zm3 8L8 6H0l2.25 2h3.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 10px, 100%;
}

/* Style the select dropdown */
select.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

/* Style the placeholder text in select dropdown */
select.form-control option:first-child {
    color: #ccc;
}

/* Style the success message after submitting the form */
.success-message {
    color: green;
    font-weight: bold;
}
