

/* Center the card horizontally */
.card {
    margin: 0 auto;
}

/* Add spacing to the top and bottom of the card */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Add padding to the card body */
.card-body {
    padding: 20px;
}

/* Style the card title */
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Style the form labels */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Add spacing between form fields */
.mb-3 {
    margin-bottom: 15px;
}

/* Style the form inputs */
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Style the submit button */
.btn-primary {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

/* Style the success message after login */
.success-message {
    color: green;
    font-weight: bold;
}
