/* StudentList.css */

/* Center the "Student List" heading */
h2.text-center {
    margin-top: 30px;
}

/* Style the table headers */
table thead tr th {
    font-weight: bold;
    color: #333;
}

/* Style the table rows */
table tbody tr td {
    color: #333;
}

/* Add spacing between table rows */
table tbody tr {
    border-bottom: 1px solid #ccc;
}

/* Style the "Modify" and "Delete" buttons */
.btn-primary{
    background-color: mediumblue;
}
.btn-danger {
    margin-right: 5px;
    background-color: red;
}


/* Center the "Add Student" button */
.text-center button.btn-success {
    background-color: blueviolet;
    margin-top: 30px;
}

/* Style the success message after adding/deleting a student */
.success-message {
    color: green;
    font-weight: bold;
}
